*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.margin-top{
    margin-top: 20px;
}

.header{
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 90px;
    color: #ffffff;
    
}

/*.text-user{
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    margin-right: 10px;
}*/

.text-cards {
    font-size: 10px;
}
.img-size{
    width: 60px;
    height: 60px;
}
.btn-logout{
  float: left;
  margin-left: 10px;
  margin-top:20px;
}